:root {
  --main-color: #323232
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: var(--main-color);
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p:last-child {
  margin-bottom: 0;
}

p span {
  font-weight: 500;
}

p span.green {
  color: forestgreen;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: var(--main-color);
  background-color: transparent;
  border: 0.1rem solid #c8c8c8;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: red;
  border-color: red;
}

.fruit-machine {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.header h1 {
  position: relative;
  z-index: 9;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 60rem;
  width: 100%;
  transform: translate(-50%, -50%);
}

.reels-wrapper {
  position: relative;
  width: 100%;
  height: 4.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.reel {
  position: absolute;
  top: 0;
  width: 33.333%;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.reel:first-child {
  left: 0;
}

.reel:nth-of-type(2) {
  left: 33.333%;
}

.reel:last-child {
  right: 0;
}

.spin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.spin-cost {
  margin-bottom: 0;
}

.message-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(100%);
}

.message {
  margin-bottom: 2rem;
}

.message:last-child {
  margin-bottom: 0;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 21rem;
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 2rem 1rem;
  transition: 0.3s;
}

.info h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.info h2:first-child {
  margin-top: 0;
}

.info h2:last-child {
  margin-bottom: 0;
}

.info p {
  margin-bottom: 0.5rem;
}

.info p:last-child {
  margin-bottom: 0;
}

.toggle-info {
  display: none;
}

.prize-table {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #ffffff;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

.prize-table.hidden {
  visibility: hidden;
  opacity: 0;
}

.prize-table table {
  min-width: 50rem;
  min-height: 40rem;
}

.prize-table caption {
  margin-bottom: 2rem;
}

.prize-table caption h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.prize-table td::first-letter {
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
}

.toggle-prize-table {
  position: relative;
}

.toggle-prize-table.toggled {
  z-index: 9;
}


@media screen and (max-width: 992px) {
  
  .header h1 {
    font-size: 5rem;
  }
  
  .info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 7rem;
  }

  .info.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .toggle-info {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .toggle-info.toggled {
    z-index: 9;
  }
}


@media screen and (max-width: 768px) {
  
  html {
    font-size: 40%;
  }
  
  .game {
    max-width: 50rem;
  }
  
  .reels-wrapper {
    height: 2.9rem;
  }
  
  .prize-table table {
    min-width: 35rem;
    min-height: 25rem;
  }
}


@media screen and (max-width: 576px) {
  
  h2 {
    font-size: 2.5rem;
  }
  
 .header h1 {
   font-size: 3.5rem;
 }
 
 .game {
   max-width: 32rem;
 }
 
 .reels-wrapper {
   height: 2.9rem;
 }
 
 .reel {
   font-size: 3.5rem;
 }
 
  .info h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}