:root {
  --main-color: #323232
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

p:last-child {
  margin-bottom: 0;
}

p span {
  font-weight: 500;
}

p span.green {
  color: forestgreen;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: red;
  border-color: red;
}

.fruit-machine {
  max-width: 450px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 10px;
}

.header h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.game {
  position: relative;
  width: 100%;
}

.reels-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.reel {
  flex: 0 0 33.333%;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.spin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.spin-cost {
  margin-bottom: 0;
}

.message-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(100%);
}

.message {
  margin-bottom: 20px;
}

.message:last-child {
  margin-bottom: 0;
}

.prize-table {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px 12.5px;
}

.prize-table table {
  min-width: 400px;
  min-height: 350px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.prize-table table.hidden {
  visibility: hidden;
  opacity: 0;
}

.prize-table caption {
  margin-bottom: 20px;
}

.prize-table caption h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.prize-table td::first-letter {
  text-transform: uppercase;
}

.info {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  min-height: 100vh;
  padding: 20px 10px;
}

.info h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.info h2:first-child {
  margin-top: 0;
}

.info h2:last-child {
  margin-bottom: 0;
}

.info p {
  margin-bottom: 5px;
}

.info p:last-child {
  margin-bottom: 0;
}