:root {
  --main-color: #ffffff;
  --second-color: #323232;

  --background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--second-color);
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p:last-child {
  margin-bottom: 0;
}

p span {
  font-weight: 500;
  color: var(--second-color);
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: var(--main-color);
  background-color: transparent;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: var(--second-color);
  border-color: var(--second-color);
}

.fruit-machine {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: var(--background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.header h1 {
  position: relative;
  z-index: 9;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.header .toggle-info {
  display: none;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60rem;
  transform: translate(-50%, -50%);
}

.reels-wrapper {
  position: relative;
  width: 100%;
  height: 4.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.reel {
  position: absolute;
  top: 0;
  width: 33.333%;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.reel:first-child {
  left: 0;
}

.reel:nth-of-type(2) {
  left: 33.333%;
}

.reel:last-child {
  right: 0;
}

.spin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.message-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(100%);
}

.message {
  margin-bottom: 2rem;
}

.message:last-child {
  margin-bottom: 0;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 22rem;
  height: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
  transition: 0.3s;
}

.info h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.info h2:first-child {
  margin-top: 0;
}

.info h2:last-child {
  margin-bottom: 0;
}

.info p {
  margin-bottom: 0.5rem;
}

.info p:last-child {
  margin-bottom: 0;
}

.info .toggle-info {
  display: none;
}

.prize-table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: var(--background);
  padding-top: 11rem;
  padding-bottom: 11rem;
  transition: 0.3s;
}

.prize-table.hidden {
  visibility: hidden;
  opacity: 0;
}

.prize-table table {
  min-width: 50rem;
  min-height: 40rem;
}

.prize-table caption {
  margin-bottom: 2rem;
}

.prize-table caption h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.prize-table th {
  color: var(--second-color);
}

.prize-table td::first-letter {
  text-transform: uppercase;
}

.prize-table .toggle-prize-table {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
}

.footer .btn {
  margin-right: 2rem;
}

.footer .btn:last-child {
  margin-right: 0;
}

.footer .toggle-info {
  display: none;
}

.toggle-prize-table {
  position: relative;
}

@media screen and (max-width: 1200px) {

  .game {
    width: 55rem;
  }
}

@media screen and (max-width: 992px) {

  .header {
    display: block;
  }

  .header h1 {
    font-size: 6rem;
    text-align: center;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: var(--background);
    padding-top: 10rem;
    padding-right: 0;
    padding-bottom: 10rem;
    padding-left: 0;
  }

  .info.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .info .toggle-info {
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    display: inline-block;
    vertical-align: top;
  }

  .prize-table {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .prize-table .toggle-prize-table {
    left: 1rem;
    transform: none;
  }

  .footer {
    justify-content: space-between;
  }

  .footer .toggle-info {
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (max-width: 768px) {

  h2 {
    font-size: 2.5rem;
  }

  .game {
    width: 50rem;
  }

  .reels-wrapper {
    height: 4.6rem;
  }

  .prize-table table {
    min-width: 40rem;
    min-height: 30rem;
  }
}

@media screen and (max-width: 576px) {

  .header h1 {
    font-size: 5rem;
  }

  .header .toggle-info {
    display: none;
  }

  .game {
    width: 44rem;
  }

  .reels-wrapper {
    height: 4rem;
  }

  .reel {
    font-size: 3.5rem;
  }

  .info {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .info h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .prize-table {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .prize-table caption {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {

  body {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .header h1 {
    font-size: 3.5rem;
  }

  .game {
    width: 30rem;
  }

  .reels-wrapper {
    height: 2.3rem;
  }

  .reel {
    font-size: 2rem;
  }

  .info {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }

  .info .toggle-info {
    width: calc(100% - 2rem);
  }

  .prize-table {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }

  .prize-table table {
    min-width: 30rem;
    min-height: 25rem;
  }

  .prize-table .toggle-prize-table {
    width: calc(100% - 2rem);
  }

  .footer {
    display: block;
  }

  .footer .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .footer .btn:last-child {
    margin-bottom: 0;
  }
}